{% extends 'dashboard/elements/layouts/base.html' %}
{% load static widget_tweaks %}

{% block additional_css %}


	<style>
		
		@keyframes fadeIn {  
			from {  
				opacity:0;  
			}  

			to {  
				opacity:1;  
			}  
		}

		.fadeinalert{
			height: 5px;
			
			text-align: right;
			opacity: 0;
			display: flex;
    		align-items: center;
				
			/* Add animation properties */
			animation: fadeIn 3s ease-out; 
		}

		li.right{
    		margin-left: 50%;
			}
	</style>

{% endblock %}

{% block content %}

				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Add Admin</a></li>
						<li class =  "right">
								{% if response%}
								
								{% if response == "Success"%}	
									<div class=" fadeinalert alert alert-success alert-dismissible alert-alt fade show">
										<span >

											<strong>Success!</strong> Admin Created successfully.
										</span>
									</div>
									
									
									{% else%}
									<div class=" fadeinalert alert alert-success alert-dismissible alert-alt fade show">
										<span >
											<strong>Failure!</strong> Something went wrong.
										</span>
									</div>
									
									{% endif %}
								{% endif %}
						</li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Admin</h4>
                            </div>
							<form method = "post">
								{% csrf_token %}

								<div class="card-body">
									<div class="row">
										<div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">First Name*</label>
												<input type="text" name="first_name" class="form-control" placeholder="Enter First Name" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">Last Name*</label>
												<input type="text" name="last_name" class="form-control" placeholder="Enter Last Name" required>
											</div>
										</div>
										
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="mb-2 ">
												  Email*
												</label>
												<input type="text" name="email" class="form-control" placeholder="Enter Your E-mail" required>
												<!-- {{ form.email|attr:"type:email"|attr:"class:form-control"|attr:"placeholder:Enter Your Email" }} -->

												<div class="text-danger w-100 d-block mt-1">
												  <!-- {{ form.email.errors }} -->
												</div>
											  </div>
										</div>
										<div class="col-lg-6 mb-2">
											<label class="mb-2">
												Password*
											  </label>
											  <input type="text" name="password" class="form-control" placeholder="Enter Your Password" required>
											  <!-- {{ form.password|attr:"class:form-control"|attr:"placeholder:Enter Your Password"|attr:"id:dz-password"|attr:"type:password" }} -->
											  <div class="text-danger w-100 d-block mt-1">
												<!-- {{ form.password.errors }} -->
											  </div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<div class="mb-3">
													<label class="text-label form-label">Phone Number*</label>
													<input type="tel" name="phone_number" class="form-control" placeholder="Enter Your Phone Number" required>
												</div>
											  </div>
										</div>
									</div>
								</div>
								<div class="card-body" style="text-align: center">
									<button type="submit" class="btn btn-primary btn-lg">Submit</button>
								</div>
							</form>
                        </div>
                    </div>
                </div>

{% endblock %}


{% block additional_js %}
<script>
    $(document).ready(function(){
        // SmartWizard initialize
        $('#smartwizard').smartWizard(); 
    });
</script>
{% endblock %}

