{% load static %}

<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">


    <!--Modules Demo Start -->


<!--Modules Demo End -->


                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Admin</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:add-admin' %}">Add Admin</a></li>
                    <li><a href="{% url 'dashboard:view-admin' %}">View Admin</a></li>
                    <li><a href="{% url 'dashboard:view-session' %}">Active Session</a></li>
                </ul>


                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Bank</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:page-register' %}">Add Bank</a></li>
                    <li><a href="{% url 'dashboard:page-register' %}">View Bank</a></li>
                </ul>      
                </li>

                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Merchant</span>
                </a>
                <ul aria-expanded="false">
                    <!-- <li><a href="{% url 'dashboard:add-merchant' %}">Add Merchant</a></li> -->
                    <li><a href="{% url 'dashboard:view-merchant' %}">View Merchant</a></li>
                    <li><a href="{% url 'dashboard:active-merchant' %}">Active Merchant</a></li>
                </ul>      
                </li>
                
                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">PayOut</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:page-register' %}">Active Payout Session</a></li>
                    <li><a href="{% url 'dashboard:page-register' %}">All Payout Session</a></li>
                </ul>      
                </li>

                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">PayIn</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:page-register' %}">Active PayIn Session</a></li>
                    <li><a href="{% url 'dashboard:page-register' %}">All PayIn Session</a></li>
                </ul>      
                </li>

                <li><a href="javascript:void()" >
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Settings</span>
                </a>      
                </li>

        
        <div class="copyright">
            <p><strong>StarPay</strong></p>
            <p>Trusted Payment Partner</p>
            <p>© 2024 All Rights Reserved</p>
            <p>Made with<span class="heart"></span> by StarPay</p>
        </div>
    </div>
</div>