{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static widget_tweaks%}

{% block content %}

				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Components</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Merchant</h4>
                            </div>
							<form method = "post">
								{% csrf_token %}

								<div class="card-body">
									<div class="row">
										<div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">First Name*</label>
												<input type="text" name="first_name" class="form-control" placeholder="Enter First Name" required>
											</div>
										</div>
										<div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">Last Name*</label>
												<input type="text" name="last_name" class="form-control" placeholder="Enter Last Name" required>
											</div>
										</div>
										
										<div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="mb-2 ">
												  <strong class="text-white">Email</strong>
												</label>
												{{ form.email|attr:"type:email"|attr:"class:form-control"|attr:"placeholder:Email" }}
												<div class="text-danger w-100 d-block mt-1">
												  {{ form.email.errors }}
												</div>
											  </div>
										</div>
                                        <div class="col-lg-6 mb-2">
											<div class="form-group">
												<label class="mb-2 ">
												  <strong class="text-white">Password</strong>
												</label>
												{{ form.password|attr:"class:form-control"|attr:"placeholder:Password"|attr:"id:dz-password"|attr:"type:password" }}
												<div class="text-danger w-100 d-block mt-1">
												  {{ form.password.errors }}
												</div>
											  </div>
										</div>
									</div>
										<div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">Phone Number*</label>
												<input type="number" name="phone_number" class="form-control" placeholder="989#######" required>
											</div>
										</div>	

                                        <div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">IP Address</label>
												<input type="text" name="ip_address" class="form-control" placeholder="Enter your IP4" required>
											</div>
										</div>
                                        <div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">Business Name</label>
												<input type="text" name="ip_address" class="form-control" placeholder="Enter your Business name" required>
											</div>
										</div>
                                        <div class="col-lg-6 mb-2">
											<div class="mb-3">
												<label class="text-label form-label">GST No.</label>
												<input type="text" name="ip_address" class="form-control" placeholder="Enter your GST No." required>
											</div>
										</div>
                                        <div class="col-lg-6 mb-2">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Service Option
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="#">Action</a>
                                              <a class="dropdown-item" href="#">Another action</a>
                                              <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                          </div>
                                        </div>
								</div>
								<div class="card-body">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
                        </div>
                    </div>
                </div>

{% endblock %}

{% block additional_js %}
<script>
    $(document).ready(function(){
        // SmartWizard initialize
        $('#smartwizard').smartWizard(); 
    });
</script>
{% endblock %}

