{% extends 'dashboard/elements/layouts/base.html' %}
{% load static widget_tweaks%}
{% load widget_tweaks %}

{% block content %}

				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item "><a href="javascript:void(0)">Admin</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Edit Merchant</a></li>
                        <li class =  "right">
                            {% if response%}
                            
                            {% if response == "Success"%}	
                                <div class=" fadeinalert alert alert-success alert-dismissible alert-alt fade show">
                                    <span >

                                        <strong>Success!</strong> Merchant updated successfully.
                                    </span>
                                </div>
                                
                                
                                {% else%}
                                <div class=" fadeinalert alert alert-success alert-dismissible alert-alt fade show">
                                    <span >
                                        <strong>Failure!</strong> Something went wrong.
                                    </span>
                                </div>
                                
                                {% endif %}
                            {% endif %}
                    </li>
					</ol>
                </div>

<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Merchant</h4>
            </div>
            <form method = "post">
                {% csrf_token %}

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 mb-2">
                            <div class="mb-3">
                                <label class="text-label form-label">First Name*</label>
                                {{ form.first_name|add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="col-lg-6 mb-2">
                            <div class="mb-3">
                                <label class="text-label form-label">Last Name*</label>
                                {{ form.last_name|add_class:"form-control" }}
                            </div>
                        </div>
                        
                        <div class="col-lg-6 mb-2">
                            <div class="form-group">
                                <label class="mb-2 ">
                                  Email*
                                </label>
                                {{ form.email|add_class:"form-control" }}
                                <div class="text-danger w-100 d-block mt-1">
                                </div>
                              </div>
                        </div>
                        
                        <div class="col-lg-6 mb-2">
                            <div class="mb-3">
                                <label class="text-label form-label">Business Name*</label>
                                {{ form.business_name|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-lg-6 mb-2">
                            <div class="mb-3">
                                <label class="text-label form-label">GST No.</label>
                                {{ form.gst_no|add_class:"form-control" }}
                            </div>
                        </div>

                        <br>

                        <div class="col-lg-6 mb-2">
                            <div class="mb-3">
                            <label><strong>Service Options</strong></label><br>
                            <label class="form-check-label" for="vehicle1">Payout</label>
                            {{form.payout| add_class:"form-check-input"}}
                            <label class="form-check-label" for="vehicle2">PayIn</label>
                            {{form.payin| add_class:"form-check-input"}}
                            <label class="form-check-label" for="vehicle3">Cards</label>
                            {{form.card| add_class:"form-check-input"}}
                            <label class="form-check-label" for="vehicle3">Offline</label>
                            {{form.cash| add_class:"form-check-input"}}
                        </div>
                </div>
            
                <div class="card-body" style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg">Update</button>
                </div>
            
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
    $(document).ready(function(){
        // SmartWizard initialize
        $('#smartwizard').smartWizard(); 
    });
</script>
{% endblock %}
